DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
JWT_SECRET="your_jwt_secret_here"
FRONTEND_URL="http://localhost:5173"
SMTP_HOST="live.smtp.mailtrap.io"
SMTP_PORT="587"
SMTP_USER="your_smtp_username"
SMTP_PASS="your_smtp_password"
SMTP_FROM="hello@demomailtrap.co"
MAILTRAP_TOKEN="mailtrap_api_token"
MERCADO_PAGO_ACCESS_TOKEN="token_mercado_pago"
VITE_API_URL="http://localhost:3000"
SMTP_TO_OVERRIDE="email_da_sua_conta_mailtrap@example.com"